h1 {
    color: Black;
    text-align: center;
    width:100%
}

h1:hover {
    color: light_salmon;
    text-align: center;
    width:100%
}
body {
    background-color: aqua;
    font-family: cursive;
}

p {
    display: inline-block;
    background-color: #cdfd85;
    border-radius: 10px;
    padding: 20px;
}

ul {
    text-decoration: none;
}
