h1 {
    color: Black;
    text-align: center;
    width:100%
}

body {
    background-color: aqua;
    font-family: cursive;
}


ul {
    text-decoration: none;
}

#assignments1 {
    padding:20px; 
    display:block;
    background-color:burlywood;
    background-clip:content-box;
    padding:20px; 
}
#assignments1 .assignment {
    width:33%;
}
#assignments2 .assignment {
    width:25%;
}
#assignments3 .assignment {
    width:25%;
}
#assignments2 {
    padding:20px; 
    display:block;
    background-color:burlywood;
    background-clip:content-box;
    padding:20px;
}

#assignments3 {
    padding:20px; 
    display:block;
    background-color:burlywood;
    background-clip:content-box;
    padding:20px;
}

.assignment {
    background-color:burlywood;
    background-clip:content-box;
    padding:20px;
}
.assignment h3 {
    text-align:center;
}

.assignment img {
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.assignment p {
    padding:20px;
}

#projects {
    display:block;
    padding:20px;
    background-color:burlywood;
    background-clip:content-box;
}

.projectHeader h2 {
    display:block;
}
.project {
    background-color:burlywood;
    background-clip:content-box;
    padding:20px
}
.project h3 {
    text-align:center;
}
.project img {
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.project p {
    padding:20px;
}

@media (min-width: 900px) {
    #projects {
        display:flex;
        flex:1;
    }
    #assignments1 {
        display:flex;
        flex:1;
        background-color: aqua;
    }
    #assignments2 {
        display:flex;
        flex:1;
        background-color: aqua;
    }
    #assignments3 {
        display:flex;
        flex:1;
        background-color: aqua;
    }
}
@media (min-width:700px) {
    #projects {
        display:flex;
        flex:1;
        background-color:aqua;
    }
}