/*First Layer*/

#topBar{
    background-color: black;
}

#topNav {
    justify-content:flex-end;
    margin-right:10%;
	background-color:black;
	color:white;
	list-style-type: none;
	display:flex;
	font-size:10px;
}
#topNav li {
	text-align: end;
	padding:10px;
}
#topNav a {
	color:white;
	text-decoration: none;
}

#logoSearch {
    display:flex;
    margin-right:10%
}
#logoSearch img {
    margin-left:15%;
}
#logoSearch input {
    margin-left:auto;
    margin-right:10px;
    
}

#title {
    padding-left:10%;
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    background-color: #73000A;
    

}

/*Second Layer*/

#sidebarLinks {
    display: block;
    padding-right:25px;
    padding-left: 10%;
}
#sidebarLinks li {
    text-align:left;
   list-style-type:none;
}
#sidebarLinks a {
    font-family:sans-serif;
    text-decoration: none;
    color:black;
    font-weight:bold;
}
#secondLayer {
    display:flex;
    margin-right:10%;
}

#thirdLayer {
    display:flex;
    margin-right:10%;
}

#departmentHighlights {
    display:block;
    margin-left:20%;
    margin-right:10%;
}

#row3box1 {
    h1 {
        font-family:sans-serif;
        color:#73000A;
    }
    padding:5px;
    display:block;
    border: 1px solid gray;
    border-left: 4px solid #73000A;
}
#row3box2 {
    padding:5px;
    display:block;
    border: 1px solid gray;
    border-left: 4px solid #73000A;
    background-color:lightgray;
}
#rightsideboxes div {
    padding:40px;
}

#firstbar {
    display:inline-flex;
    flex:1;
    padding:20px;
    a {
        text-align:right;
    }
    
}













