/*First Layer*/

#topBar{
    background-color: black;
}

#topNav {
    justify-content:flex-end;
    margin-right:10%;
	background-color:black;
	color:white;
	list-style-type: none;
	display:flex;
	font-size:10px;
}
#topNav li {
	text-align: end;
	padding:10px;
}
#topNav a {
	color:white;
	text-decoration: none;
}

#logoSearch {
    display:flex;
    margin-right:10%;
    input {
        background-color:black;
        font-weight:bold;
    }
    img {
        width:15%
    }
}
#logoSearch img {
    margin-left:15%;
}
#logoSearch input {
    margin-left:auto;
    margin-right:10px;
    
}

#title {
    padding-left:15%;
    padding-top:10px;
    padding-bottom:10px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    background-color: #73000A;
    

}

/*Second Layer*/

#sidebarLinks {
    display: inline-block;
    padding-right:25px;
    min-width:20%;
}
#sidebarLinks li {
    text-align:left;
   list-style-type:none;
}
#sidebarLinks a {
    font-family:sans-serif;
    text-decoration: none;
    color:black;
    font-weight:bold;
}
#sidebarLinks a:hover {
    font-family:sans-serif;
    text-decoration: none;
    color:white;
    font-weight:bold;
    
    background-color:#73000A;
}
#secondLayer {
    margin-left:15%;
    margin-right:15%;
}

.highlightElement h3 p {
    display:block;
}
.highlightElement img {
    padding-right:10px;
}

#thirdLayer {
    
    margin-right:15%;
    margin-left:30%;
}

#departmentHighlights {
    display:block;
    padding-right:25px;
}
#departmentHighlights img {
    padding-top: 20px;
}

#footerFirstBar a {
    text-decoration:none;
    text-color:black;
    font-family:sans-serif;
}
#row3box1 {
    h1 {
        font-family:sans-serif;
        color:#73000A;
    }
    padding:5px;
    display:block;
    border: 1px solid gray;
    border-left: 4px solid #73000A;
}
#row3box2 {
    padding:5px;
    display:block;
    border: 1px solid gray;
    border-left: 4px solid #73000A;
    background-color:lightgray;
}
#rightsideboxes div {
    padding:40px;
}

#footerFirstBar {
    background-color:lightGray;
    padding-left: 15%;
    padding-right:15%;
    justify-content:space-between;
    a {
        padding:25px;
    }
}
#footerRedSection {
    background-color: #73000A;
}
#logoSocials {
    display:flex;
    flex:1;
    padding:25px;
    background-color:#73000A;
    padding-left:15%;
    padding-right: 15%;
    justify-content:space-between;
}

.layerColumn a {
    text-decoration:none;
    font-family:monospace;
    color:white;
    line-height:20px;
}

#lowerLinks {
    background-color:#73000A;
}
#lowerLinks h2{
    color:white;
    font-family:monospace;
}

#footerLastBar {
    background-color:black;
    color:white;
    padding-left: 15%;
    padding-right:15%;
    justify-content:space-between;
    a {
        padding:25px;
    }
}
#footerLastBar a {
    color:white;
    text-decoration:none;
}

@media (min-width: 900px) {
    #secondLayer {
        display:flex;
    }
    #thirdLayer {
        display:flex;
    }
    #footerFirstBar {
        display:flex;
    }
    #footerLastBar {
        display:flex;
    }
    .highlightElement {
        display:flex;
    }
    #lowerLinks {
        display:flex;
        justify-content:space-around;
        padding:25px;
    }
   
    .sectionlayer2 {
        display:flex;
        justify-content:space-between;
    }
    .layerColumn {
        display:block;
    }



}








