h1 {
    text-align:center;
    padding:10px;
}
h2 {
    text-align:center;
    padding:10px;
}
@media (min-width: 900px) {
#boxes {
    display:flex;
    flex:1;  
}
.box {
    background-clip:content-box;
}

}
.box{
    flex-basis:100%;
    padding:5%;
    text-align:center;
    background-color:lightsalmon;

}
.box img {
    margin-left:auto;
    margin-right:auto;
}

  .slider {
    -webkit-appearance: none; 
    appearance: none;
    width: 80%; 
    height: 25px; 
    background: #d3d3d3; 
  }
  

  
 
 .slider::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none;
    width: 25px; 
    height: 25px; 
    background: brown; 
    cursor: pointer; 
  }
