h1 {
    color: black;
    text-align: center;
    width:100%
}

h1:hover {
    color: black;
    text-align: center;
    width:100%
}
body {
    background-color: aqua;
    font-family: cursive;
    background: url(images/trainBg.jpg);
}

p {
    background-color: aqua;
}

table, th, td {
    margin: 10px;
    padding: 10px;
    background-color: lightcyan;
    border:2px solid;
    border-collapse:collapse;
}

div {
    padding: 10px;
}