h1 {
    color: bisque;
    text-align: center;
    width:100%
}

h1:hover {
    color: light_salmon;
    text-align: center;
    width:100%
}
body {
    background-color: aqua;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
}

.assign {
    margin: 10px;
    padding: 10px;
    background-color: maroon;
    border-radius: 20px;
    display: block;
    box-shadow: 8px 8px black;
    width: 20%;
    
}
.assign img {
    width: 200px;
    padding: 10px;
}