h1 {
    color: black;
    text-align: center;
    width:100%
}

h1:hover {
    color: black;
    text-align: center;
    width:100%
}
body {
    background-color: aqua;
    font-family: cursive;
    background: url(images/trainBg.jpg);
}

#par1 {
    display: inline-block;
    background-color: #cdfd85;
    border-radius: 10px;
    padding: 20px;
    
}

.tb   {
    margin: 10px;
    padding: 10px;
    background-color: #fd85cd;
    border:2px solid;
    border-collapse:collapse;
}

div {
    padding: 10px;
}